#work-section {
    background: linear-gradient(to bottom, #1b263b 0%, #2c3e50 50%, #4682b4 100%); /* Dark blue to medium blue to light blue gradient */
    display: flex;
    justify-content: space-between; /* Align the content to the left */
    align-items: flex-start; /* Align items to the top */
    padding: 2%; /* Padding to space out the content */
    box-sizing: border-box;
    column-gap: 5% ;
    height: auto; /* Allow the height to adjust to content */
    flex-wrap: wrap; /* Allow wrapping of items when screen size reduces */

}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Align the content to the left */
    align-items: center; /* Align items to the top */
    flex: 1;
}

.work-label {
    font-family: 'Arial', sans-serif;
    font-size: 1.8em;
    color: #ffffff; /* White color for contrast */
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    display: block;
    width: 100%;
}

.work-card {
    background-color: #ffffff; /* White background for the card */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Shadow for depth */
    padding: 20px;
    width: 100%; /* Full width within the container */
    height: 100%; /* Full height to fill the section */
    box-sizing: border-box; /* Ensure padding doesn't affect width/height */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
    text-align: center;
}

.work-card:hover {
    transform: translateY(-10px); /* Lift the card slightly on hover */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4); /* Deepen the shadow on hover */
}

.work-logo {
    width: 100px; /* Adjust logo size */
    height: auto;
    margin-bottom: 20px; /* Space between logo and name */
    border-radius: 50%; /* Optional: make the logo circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: add shadow around the logo */
}

.work-name {
    font-family: 'Orbitron', sans-serif; /* Futuristic font */
    font-size: 1.8em;
    color: #2c3e50;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.work-bio {
    font-family: 'Arial', sans-serif;
    font-size: 1.4em;
    color: #555;
    margin: 10px 0;
}

.work-time {
    font-family: 'Arial', sans-serif;
    font-size: 1.2em;
    color: #888;
    margin-top: 15px;
}


@media (max-width: 600px) {
    #about-section {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items on smaller screens */
        padding: 20px;
    }

    .work {
        max-width: 100%;
        margin-bottom: 20px; /* Add margin below for spacing */
    }

    .work-card {
        max-width: 300px;
        height: auto; /* Adjust height for mobile */
    }

}